In [1]:
import pandas as pd
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
from sqlalchemy import text

In [20]:
#creando conexión
bd = "sakila"
password = getpass.getpass("Introduce tu contraseña MySQL: ")
connection_string = f"mysql+pymysql://root:{password}@localhost/{bd}"
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    for row in result:
        print(row)

In [10]:
#1: rentals_month
def rentals_month(engine, month, year):
    query = f"""
            SELECT *
            FROM rental 
            WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
            """
    dataframe = pd.read_sql(query, engine)
    return dataframe

In [17]:
#2: rental_count_month

def rental_count_month(df ,month, year):
    col_name = "rentals_{:02d}_{}".format(month, year)

    grouped = (df.groupby("customer_id").size().reset_index(name=col_name))
    return grouped

In [18]:
#3: compare_rentals

def compare_rentals(df1, df2):
    merged = df1.merge(df2, on='customer_id', how='inner')

    col1 = df1.columns[1]
    col2 = df2.columns[1]
    
    merged["difference"] = merged[col2] - merged[col1]

    return merged

In [19]:
may_df = rentals_month(engine, 5, 2005)
june_df = rentals_month(engine, 6, 2005)

may_counts = rental_count_month(may_df, 5, 2005)
june_counts = rental_count_month(june_df, 6, 2005)

comparison = compare_rentals(may_counts, june_counts)

comparison.head()

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            5                3                5           2
4            6                3                4           1